/*MAIN StyleSheet*/

/*** Style pour mobile (= MOBILE FIRST APPROCH) = style par defaut  ***/

*{
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section { display: block; }


header, footer{
    background-color: RGBa(0,125,150,0.5);
    font-size: 16px;
}

.m_logo img{
    width: 80px;
    position: absolute;
    right: 0;
    top: 14px;
}

/*** DEBUT DU MENU HAMBURGER ***/

#m_menu_hamburger{
    padding: 10px 0;
}

.m_menu_btn span{
    width: 50px;
    height: 4px;
    background-color : #fff;
    margin: 8px;
    display: block;
}

.m_nav-hamburger ul{
    display: none; /*** Pour masquer les liens de navigations ***/
}

.noshow{
    display: none;
}

/*.expand{*/
    /*display:block !important;*/
/*}*/

/*** FIN DU MENU HAMBURGER ***/

.m_centrer-menu ul{
    list-style: none;
    color: #fff;
    padding: 0;
    margin: 0;
    /*display: none; */
}

.m_centrer-menu ul li{
    display:block;
    height:50px;
    line-height:50px;
}

.m_centrer-menu ul li a{
    color: #fff;
    text-decoration:none;
    width:100%;
    padding-left:5px;
    display:block;
}

.m_produit img{
    max-width: 100%;
}

/*** FAIRE EN SORTE QUE LA BARRE DE RECHERCHE S'AFFICHE EN DESSOUS DU HEADER ***/
@media only screen and (max-width: 640px){
    .sec{
        position: absolute;
        width: 100%;

    }

    .sec input
    {
        clear : both;
        width : 100%;
        border-radius : 5px;
    }
}

input[type="search"]{
    border-radius: 10px;
}

#m_carousel{
    display: none; /*** Pour ne pas afficher le carousel en version mobile ***/
}

.m_masquer_descendant img, .m_masquer_descendant figcaption{
    display: block;  /*** Pour afficher les images qui sont dans l'élément figure ***/
}

.m_produit a{
    display: block;
    background-color: RGBa(0,125,150,0.5);
    height: 50px;
    text-align: center;
    margin-top: 14px;
    padding: 14px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}


/*** FOOTER ***/

footer{
    height :90px;
}

/*.center{*/
    /*float: right;*/
    /*margin-top: -32px;*/
    /*margin-right: 20px;*/
/*}*/

#m_container_footer{
    height: 90px;
    position: relative;
}

#m_icons{
    position: absolute;
    right: 10px;
    top: 20px;
}

.m_contact{
    position: absolute;
    left: 10px;
    top: 8px;
}

.m_contact p:first-letter{
    text-transform: uppercase;
}

.m_contact span{
    font-family: 'Srisakdi', cursive;
    font-size: 18px;
}

.m_contact p{
    font-family: 'Radley', serif;
    font-size: 18px;
}

/*** END FOOTER ***/


/*** FIN STYLE POUR LA VERSION MOBILE ***/


/*** STYLE POUR LA VERSION TABLETTE ***/
@media only screen and (min-width: 640px){

    /*** HEADER ***/

    header
    {
        width : 100%;
        height : 80px;
        background-color : RGBa(0,125,150,0.5);
    }


    .m_mobile_nav{
        display: none;
    }

    .m_logo{
        position: absolute;
        float: left;
        left: 10px;
        top: 25px;
    }

    .sec{
        position: absolute;
        float: right;
        right: 10px;
        top: 25px;
    }


    .m_centrer-menu ul
    {
        display:block;
    }


    .m_centrer-menu ul li
    {
        list-style-type : none;
        float : left;
    }

    .m_centrer-menu ul li a
    {
        display : inline-block;
        text-decoration : none;
        padding : 20px 15px;
        color : #ffffff;
        text-transform : uppercase;
        font-size : 15px;
    }
    .m_nav-hamburger{
        display: flex;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .m_nav-hamburger ul{
        display: block; /*** Pour afficher les liens de navigations ***/
    }

    .m_logo img{
        width: 80px;
        position: absolute;
        left: 0;
        top: -8px;
    }

    /*** FIN HEADER ***/

    /*** MAIN ***/

    /** DEBUT CAROUSEL **/

    /* On affiche le carousel en version tablette et desktop */
    #m_carousel
    {
        display : block;
    }

    /* On style le carousel */

    /* 1. LABEL en form de cercle */
    #boutons label
    {
        width:10px;
        height:10px;
        background-color:#424558;
        display: inline-block; /* Ce sont des element inline, donc ils prennent par defauts la largeur de leurs contenu, s'ils no'ont pas de contenu, il n' y a rien. On doit donc les convertir en inline-block si on veut les "voir". car on veut aussi les aligner */
        border-radius : 5px;
    }

    /* 2. On centre les labels */
    #boutons
    {
        text-align : center;
    }

    /* 3. On cache les input de type radio */
    #m_carousel input
    {
        display : none;
    }

    /* 4. On aligne les diapositives */
    .photo
    {
        float : left; /* On aligne les diapositives */
        width : 20%; /* Chaque diapositif occupe 1/5 du parent .inner */
        position:relative;
    }

    .photo img
    {
        width: 100%; /* On rend les images responsives */
    }

    /* 5. on definit la largeur de .inner */
    .inner
    {
        width : 500%; /* 5*100% car on a 5 diapositives. si c'etait 3 diapositives, on mettrait 300% */
    }

    /* 6. On cache le contenu qui debord */
    #overflow
    {
        overflow: hidden;
    }

    /* 7. On style les textes des bannieres */
    .photo h3
    {
        color:yellow;
        position:absolute;
        top :20px;
        left : 20px;
    }

    /* 1. FONCTIONNEMENT DU CAROUSEL */

    /* quand je clique sur le premier label, il est aaoscie a l'input slide1, la div .inner qui est apres l'input, se place a une marge gauche de 0, donc on voit la 1ere diapositive */
    #slide1:checked~ #slides .inner
    {
        margin-left:0;
    }

    /* quand je clique sur le 2ieme label, il est associe a l'input slide2, la div .inner qui est apres l'input, se place a une marge gauche de -100, donc on voit la 2ieme diapositive */
    #slide2:checked~ #slides .inner
    {
        margin-left:-100%;
    }

    /* quand je clique sur le 3ieme label, il est associe a l'input slide3, la div .inner qui est apres l'input, se place a une marge gauche de -200, donc on voit la 3ieme diapositive */
    #slide3:checked~ #slides .inner
    {
        margin-left:-200%;
    }

    /* quand je clique sur le 4ieme label, il est associe a l'input slide4, la div .inner qui est apres l'input, se place a une marge gauche de -300, donc on voit la 4ieme diapositive */
    #slide4:checked~ #slides .inner
    {
        margin-left:-300%;
    }

    /* quand je clique sur le 5ieme label, il est associe a l'input slide5, la div .inner qui est apres l'input, se place a une marge gauche de -400, donc on voit la 5ieme diapositive */
    #slide5:checked~ #slides .inner
    {
        margin-left:-400%;
    }


    /* 2. On applique une transformation sur .inner pour que les images defilent lorsqu'elles passent d'un etat initial (par exemple: margin-left:0) a un etat final (par exemple: margin-left:-200px;)  */
    .inner
    {
        transition : all 1s ease-in-out;
    }

    /** FIN CAROUSEL **/

    .m_produit img{
        width: 100%;
        height: 250px;
    }

    .m_produit h2{
        display: none;
    }

    .m_masquer_descendant img, .m_masquer_descendant figcaption{
        display: block;
    }

    /*#produit_vedette_4{*/
        /*margin-top: -193px;*/
    /*}*/

    /*** FIN MAIN ***/

    /*** FOOTER ***/

    /*** FIN FOOTER ***/

}

/*** FIN STYLE POUR LA VERSION TABLETTE ***/

/*** STYLE POUR LA VERSION DESKTOP ***/
@media only screen and (min-width: 960px){

    /*** HEADER ***/

    /*** FIN HEADER ***/

    /*** MAIN ***/

    /*** FIN MAIN ***/

    /*** FOOTER ***/

    /*** FIN FOOTER ***/

}

/*** FIN STYLE POUR LA VERSION DESKTOP ***/


html{
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
/********Page Contact********/
h2{
    text-align: center;
}

#k_contact_main form label{
    display: none;
}

.k_contact_label>label{
    display:inline-block;
    width: 25%;
    height: 10px;
    min-width:90px;
    margin: 8px;
    padding-left: 50px;
}
#k_contact_main form ul li:nth-of-type(7),li:nth-of-type(6){
    margin: 8px 0;
    padding: 15px 0;

}
#k_contact_main form ul input[type=text],input[type=tel],input[type=email],input[type=number],textarea{
    display:inline-block;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #e4c8c8;
}
#k_contact_main form ul input[type=text]:focus,input[type=tel]:focus,input[type=email]:focus,input[type=number]:focus,textarea:focus{
    background-color: #ddd;
    outline: none;
}
#k_contact_main form input[type=submit] {
    background-color: #16a085;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    cursor: pointer;
}
#k_contact_main form ul textarea{
    height: 200px;
}

#k_contact_main form input[type=submit]:hover {
    opacity:1;
}
#k_contact_main form ul{
    list-style:none;
    padding:0;
}
@media only screen and (min-width: 960px) {
    #k_contact_main form ul input[type=text],input[type=tel],input[type=email],input[type=number],textarea{
        width: 70%;
    }
    #k_contact_main form{
        width: 80%;
        margin: 5% auto 15% auto;

    }

    #k_contact_main form label{
        display:inline-block;
        width: 25%;
        height: 10px;
        min-width:90px;
        margin: 8px;
        padding-left: 50px;
    }
}
/******************************/
/********Page Categori********/
/*********/

#k_categori_main {
    display: flex;
    flex-direction: row;
    position: relative;

}
.k_half {
    float: left;
    padding: 0 1em;
}
/* Acordeon styles */
.k_tab {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: #fff;
    overflow: hidden;

}
.k_tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.k_tab label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #16a085;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
}

.k_tab-content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}

.k_tab-content p {
    margin: 1em;
}
/* :checked */
.k_tab input:checked ~ .k_tab-content {
    max-height: 10000vh;
}
/* Icon */
.k_tab label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
.k_tab input[type=checkbox] + label::after {
    content: "+";
}
.k_tab input[type=radio] + label::after {
    content: "\25BC";
}
.k_tab input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
}
.k_tab input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
}
.k_cat_container{
    width: 100%;
}
.k_cat_container img {
    width: 100%;

}
.k_cat_container div {
    width: 100%;
    color: #ffffff;
    background-color: #891c32;
    height: 20%;
    padding: 1em;
    margin-bottom: 10px;
}

h2{
    color: #891c32;
    font-size: 30px;
    font-weight: bold;
}

/******version desktop******/
@media only screen and (min-width: 960px) {

    .k_tab{
        display: flex;
        flex-direction: row;
    }

    .k_tab label{
        width: 25%;
    }
    .k_tab-content{
        width: 70%;
    }

    .k_cat_container {
        width: 250px;
        transition: transform .1s;
       /* margin: 5px 10px;*/
    }

    .k_cat_container:hover {
        -ms-transform: scale(1.2); /* IE 9 */
        -webkit-transform: scale(1.2); /* Safari 3-8 */
        transform: scale(1.2);

    }
}

/*****************************/